#text-area {
  margin: 15px;
  position: relative;
  padding: 0px;
  font-size: 1.4rem;
  line-height: 1.4;
  overflow-y: hidden;
}

#wrong-text {
  background-color: red;
}

#right-text {
  color: green;
}

#cursor {
  border: 1px solid black;
  position: absolute;
  height: 1.5em;
}
