#text-area {
  margin: 15px;
  position: relative;
  padding: 0px;
  font-size: 1.4rem;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#text-area::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 865px) {
  #text-area {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #text-area {
    font-size: 0.6rem;
  }
}
