#text-area {
  margin: 15px;
  position: relative;
  padding: 0px;
  width: calc(100% - 30px);
  font-size: 1.4rem;
  white-space: pre-wrap;
  line-height: 1.4;
  overflow-y: hidden;
  font-kerning: none;
}

#wrong-text {
  background-color: red;
}

#correct-text {
  color: green;
}

@keyframes blinking-cursor {
  50% {
    border-color: transparent;
  }
}

#cursor {
  position: absolute;
  border: 1px solid black;
  height: 1.5em;
  animation: blinking-cursor 1.25s step-start infinite;
}

#cursor.paused {
  animation: none;
}
