#typing-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  height: max-content;
  border: 1px solid;
  position: relative;
}

@media (width: 659px) {
  #typing-container {
    min-width: 300px;
    max-width: 300px;
  }
}
