#result-container {
  background-color: white;
  position: absolute;
}

#result-container.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

#result-container.invisible {
  display: none;
}
