* {
  box-sizing: border-box;
  height: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0px;
}

#root {
  font-family: 'JetBrains Mono', 'Georgia', monospace, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.unselectable-text {
  user-select: none;
}
